<nav class="navbar navbar-expand navbar-dark bg-dark p-3">
  <a class="navbar-brand text-decoration-none" routerLink="/welcome"><img src="../assets/img/logo.png" alt="Buzz Street Logo"></a>
</nav>

<div style="width: 100%;">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-light container-fluid text-center p-5">
    <div class="row text-start fs-5">
      <div class="col-12 col-md-4">
        <h2><b>Contact</b></h2>
        <p>hola@buzzstreet.mx</p>
        <p>55 285 829 66</p>
        <p>Av. Paseo de la Reforma 560 Int. 13,
        Lomas - Virreyes, Lomas de Chapultepec,
        Miguel Hidalgo, 11000 Ciudad de México,
        CDMX</p>
      </div>

      <div class="col-12 col-md-4">
        <h2><b>Consult</b></h2>
        <p>Frequent questions</p>
        <p>Terms and Conditions</p>
        <p>Notice of Privacy</p>
      </div>

      <div class="col-12 col-md-4">
        <div class="row">
          <h2><b>More Buzz</b></h2>
        </div>

        <div class="row">
          <ul class="list-inline">
            <li class="list-inline-item me-3">
                <a class="nav-link bi bi-linkedin icon" href="#" target="_blank"></a>
            </li>
            <li class="list-inline-item me-3">
                <a class="nav-link bi bi-instagram icon" href="#" target="_blank"></a>
            </li>
            <li class="list-inline-item me-3">
                <a class="nav-link bi bi-twitter icon" href="#" target="_blank"></a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link bi bi-facebook icon" href="#" target="_blank"></a>
            </li>
          </ul>
        </div>

        <div class="row">
          <form action="#" method="post">
            <div class="row">
              <label for="newsletter" class="my-3">¡Receive the most important news in the field with our Newsletter!</label>
            </div>

            <div class="row">
              <div class="col-8">
                <input type="text" placeholder="Write your email" id="newsletter" class="ps-3 rounded-5 w-100 h-100">
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-outline-light rounded-5 w-100 h-100 border border-3 border-light"><b>Suscribe</b></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="row fs-5 mt-5 align-text-bottom">
      <img src="../assets/img/logo bicolor.png" class="logo me-2" alt="Buzz Street Logo">
      © 2023 Buzz Street<br>All Rights Reserved
    </div>
</footer>