<div class="card border border-dark w-100" *ngIf="users.length">
    <div class="card-header text-light text-center">
        <h2>{{pageTitle}}</h2>
    </div>

    <div class="card-body">
        <div class="row text-center justify-content-center my-3">
            <div class="col-md-4">
                <h4>Filter by username:</h4>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="name-input" (click)="email.value=''; listFilterEmail=''" #name [(ngModel)]="listFilterName" />
            </div>
        </div>

        <div class="row text-center justify-content-center my-3">
            <div class="col-md-4">
                <h4>Filter by email:</h4>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="email-input" (click)="name.value=''; listFilterName=''" #email [(ngModel)]="listFilterEmail" />
            </div>
        </div>

        <div class="row text-center justify-content-center" *ngIf="filteredUsers.length">
            <div class="card row m-3 px-0 card-anim" *ngFor="let user of filteredUsers">
                <img class="card-img-top px-0"
                    [src]="user.imgUrl"
                    [title]="user.name">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.email}}</p>
                </div>
            </div>
        </div>

        <div class="row text-center justify-content-center my-5" *ngIf="!filteredUsers.length">
            <div class="col">
                <h4>There is no users with that name!</h4>
            </div>
        </div>
    </div>

    <div class="card-footer text-light text-center">
        <h4>Type Some Text to Filter the Users!</h4>
    </div>
</div>

<div class="row justify-content-center my-5" *ngIf="!users.length">
    <div class="col-6 col-md-5 text-center">
        <img src="../../assets/img/map.png" class="img-fluid" alt="Buzz Street Title in Map">
    </div>
    <div class="col-6 col-md-5">
        <h2 class="h-100 d-flex justify-content-center align-items-center display-3 fw-semibold">
            The only marketplace in Mexico and Latam to transact commercial properties
        </h2>
    </div>
</div>