<div class="card border border-dark w-100">
    <div class="card-header text-light text-center">
        <h2>{{pageTitle}}</h2>
    </div>

    <div class="card-body">
        <div class="row text-center justify-content-center my-3">
            <div class="col-md-4">
                <h4>Filter by user name:</h4>
            </div>
            <div class="col-md-6">
                <input type="text"class="form-control" [(ngModel)]="listFilter" />
            </div>
        </div>

        <div class="row text-center justify-content-center" *ngIf="filteredUsers.length">
            <div class="card row m-3 px-0 card-anim" *ngFor="let user of filteredUsers">
                <img class="card-img-top px-0"
                    [src]="user.imgUrl"
                    [title]="user.name">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-light text-center">
        <div *ngIf="!listFilter"><h4>Type Some Text to Filter the Users!</h4></div>
        <div *ngIf="listFilter&&filteredUsers.length"><h4>Filtered by:&nbsp;{{listFilter}}</h4></div>
        <div *ngIf="listFilter&&!filteredUsers.length"><h4>There is no users</h4></div>
    </div>
</div>